@model AppointmentViewModel

@{
    ViewData["Title"] = "Book Your Appointment in the Coming 30 Days";
}

<div class="container mt-4">
    <h2 class="mb-4 text-center">@ViewData["Title"]</h2>

    <div class="row d-flex align-items-stretch">
        @foreach (var date in Model.NextThirtyDays)
        {
            var dayOfWeek = date.DayOfWeek;

            var workingTime = Model.WorkingHours[date];
            var tooltipText = Model.TooltipTexts[date];

            <div class="col-md-2 mb-2 d-flex">
                <a asp-area="User"
                   asp-controller="Find"
                   asp-action="MakeAppointment"
                   asp-route-date="@date.ToString("yyyy-MM-dd")"
                   asp-route-dayOfWeek="@dayOfWeek.ToString()"
                   class="btn btn-primary btn-block"
                   title="@($"{workingTime}  {tooltipText}")"
                   data-toggle="tooltip" data-placement="top">
                    @date.ToString("dddd, MMM dd yyyy")
                </a>
            </div>
        }
    </div>
</div>

<style>
    .tooltip {
        /* max-width: 40ch;  */
        padding: 8px; 
        font-size: 16px; 
    }

    .tooltip-inner {
        max-width: 35ch;
        /* background-color: #333; /* Tooltip background color */
        color: #fff; /* Tooltip text color */ */
        border-radius: 4px; /* Optional: add border radius */
        line-height: 1.4;
    }
</style>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>
